body {
    --background-color-value:#f8f8f8;
    --global-padding-value:40px;
    --margin-bottom-line-distance-value:65px;
    background-color: var(--background-color-value);
    margin: 0px;
}


header{
    border-bottom: 2px solid black;
    height: 60px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-left: var(--global-padding-value);
}


nav{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: max(20%,200px);
}


.nav-button {
    background-color: var(--background-color-value);
    border: 0px;
    font-size: 1em;
    font-weight: bold;
    padding: 0px;
}


.title-text{
    font-size: 24vw;
    text-align: center;
    margin:0px;
}

.title-div{
    padding-left: var(--global-padding-value);
    padding-right:var(--global-padding-value);
    border-bottom: 2px solid black;
    
    
}

.title-div > img {
    width: 100%;
    margin-bottom: var(--margin-bottom-line-distance-value);
}